body {
  background-color: #446573;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
}

.navbar {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgba(143, 143, 143, 0.4);
  height: 55px;
  z-index: 10;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding:0 10px;
  text-decoration: none;
}  

.link:hover{
  background-color : rgba(255,255,225,0.2);
}

.icon {
  margin-right: 9px;
}

.icon-sm{
  width: 24px;
  height: 24px;
}

.desc-icon {
  align-self: center;
  color: white;

}

.reserve-button {
  background-color: #446573;
  border: none;
  padding: 13px 28px;
  color: white;
  margin-right: 5%;
  margin-left: 1%;
  transition: .7s;
}

.float-buttons {
  display: none;
  position: fixed;
  width: 40px;
  height: fit-content;
  right: 63px;
  top: 55px;
}

.float-buttons > a {
  margin: 5px 0;
}

.float-buttons > a > img {
  height: 100%;
  width: 100%;
}

.decolar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.b{
  position: relative;
  animation: drop-down-icons-animation .8s ease-out;
}

@keyframes drop-down-icons-animation {
  from {
    top: -54px;
  }
  to {
    top: 5px;
  }
}

.c {
  position: relative;
  animation: drop-up-icons-animation .8s ease-out;
}

@keyframes drop-up-icons-animation {
  from {
    top: 5px
  }
  to {
    top:-54px;
    display: none;
  }
}