body {
  background-color: #446573;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
}

.navbar {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgba(143, 143, 143, 0.4);
  height: 55px;
  z-index: 10;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding:0 10px;
  text-decoration: none;
}  

.link:hover{
  background-color : rgba(255,255,225,0.2);
}

.icon {
  margin-right: 9px;
}

.icon-sm{
  width: 24px;
  height: 24px;
}

.desc-icon {
  align-self: center;
  color: white;

}

.reserve-button {
  background-color: #446573;
  border: none;
  padding: 13px 28px;
  color: white;
  margin-right: 5%;
  margin-left: 1%;
  transition: .6s;
}

