body {
  background-color: #446573;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
}

.navbar {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgba(143, 143, 143, 0.4);
  height: 55px;
  z-index: 10;
}

.link{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}  
  
.icon {
  margin-left: 24px;  
}


.desc-icon {
  align-self: center;
  color: white;
}

.reserve-button {
  background-color: #446573;
  border: none;
  padding: 13px 28px;
  color: white;
  margin-right: 5%;
  margin-left: 1%;
}
