.section7-avaliations {
  width: 100%;
  padding-top: 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.title-avaliation{
  align-self: start;
  margin-left: 100px;
  color:#446573;
}

.strong {
  font-weight: 800;
}

.avaliations {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 80%;
}
.arrow-blue {
  padding: 0 20px;
}

.comment {
  border-radius: 20px;
  width: 100%;
  background-color: #446573;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

.avaliations-text p {
    color: #ffffff;
}

.icon-aspa{
  margin-bottom: 20px;
}

.icon-user{
  margin-right: 20px;
}

.comment-text {
  width: 90%;
  line-height: 1.5;
}

.data-visit {
  margin-top: 20px;
}

.heart {
  align-self: flex-end;
  position: relative;
  margin-left: 5px;
}
