.section5 {
    width: 100%;
    background-color: white;
}

.banner-top {
    padding-top: 65px;
    width: 100%;
}

.facilites {
    text-align: center;
    padding-top: 65px;
    font-family: 'Karla', sans-serif;
    color: #446573;
    line-height: 40px;
}

.facilites-one {
    font-size: 20px;
    font-weight: 400;
}

.facilites-two {
    font-size: 24px;
    font-weight: 800;
}

.facilites-three {
    font-size: 16px;
    font-weight: 700;
}

.facilites-icons {
    padding-top: 147px;
}

.line-one {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-evenly;
}

.line-two {
    width: 80%;
    padding-top: 100px;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: space-evenly;
}

.facilites-icon-plus-legend {
    position: relative; 
    text-align: center;
}