body {
  background-color: #446573;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
}

.navbar {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgba(143, 143, 143, 0.4);
  height: 55px;
  z-index: 10;
}

.icon {
  margin-left: 24px;
}

.desc-icon {
  padding-left: 10px;
  color: white;
}

.reserve-button {
  background-color: #446573;
  border: none;
  padding: 13px 28px;
  color: white;
  margin-right: 35px;
  margin-left: 28px;
}

.banner-section {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.logo {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 25px;
}

.title {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: white;
  z-index: 1;
}

.main-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.banner {
  position: absolute;
  width: 100%;
  height: 50%;
}

.container-input {
  z-index: 1;
  position: relative;
}

.input {
  outline: none;
  padding: 11px 13px 11px 10px;
  padding-left: 10px;
}

.submit-button {
  padding: 12px 30px;
  color: white;
  background-color: #446573;
  border: none;
}

.description-section {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal-rule {
  width: 96px;
  border: 3px solid #446573;
}

.top-description {
  width: 418px;
  height: 57px;
  margin-top: 65px;
  text-align: center;
  line-height: 29px;
  color: #446573;
  font-family: 'Kaisei Tokumin', serif;
  font-weight: 800;
  font-size: 20px;
}

.description-text {
  width: 418px;
  height: 79px;
  margin-top: 30px;
  margin-bottom: 32px;
  text-align: center;
  color: #a2a2a2;
  font-size: 16px;
  line-height: 24px;
}

.description-img-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informative-text {
  background-color: #f3f3f3;
  display: flex;
  width: 1210px;
  justify-content: center;
  padding-top: 89px;
}

.informative-text div {
  width: 418px;
  height: 58px;
  margin-right: 40px;
  color: #446573;
  font-family: 'Alatsi', sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
}

.informative-text div div {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #a2a2a2;
  width: 418px;
  height: 99px;
  margin-top: 9px;
}

.rooms-section {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rooms-title {
  width: 100%;
  height: 57px;
  margin-top: 54px;
  text-align: center;
  line-height: 29px;
  color: #446573;
  font-family: 'Kaisei Tokumin', serif;
  font-weight: 800;
  font-size: 20px;
}

.rooms-section p {
  width: inherit;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #a2a2a2;
  margin-top: 19px;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 62px;
  font-family: 'Kaisei Tokumin', serif;
}

.categories h2 {
  color: #446573;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}

.categories a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.categories a:hover {
  text-decoration: underline #446573;
}

.img-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 45px;
  margin-top: 58px;
}

.section3 {
  padding-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F3F3F3;
  width: 95%;
}

.description {
  padding: 91px 64px;

}

.description h2 {
  margin-bottom: 20px;
  color: #446573;
  font-weight: 400;
  font-size: 25px;
}
.description p {
  margin-bottom: 20px;
  color: #a2a2a2;
  font-weight: 300;
  font-size: 16px;
}
.description button {
  color: white;
  font-weight: 700;
  font-size: 13px;
}

.banner-section3{
  width: 100%;
}
